<div class="container">

    <div class="grid">

        <!-- C.2.2.1. CONTACT AREA -->

        <aside class="form__contact two-thirds mobi">

            <section class="filter">

                <div class="field-item text">
                    <input type="text" ng-model="query"  placeholder="All field search" >
                </div>

                <div class="field-item select-box">
                    <label>Sort by:</label>
                    <select ng-model="orderProp">
                        <option value="last_name" id="1">Alphabetical - Surname</option>
                        <option value="first_name" id="2">Alphabetical - First Name</option>
                    </select>
                </div>
            
            </section>
            
            <ul class="list">
                
                <li ng-repeat="member in members | filter:query | orderBy:orderProp" class="member-item">
                    <div class="member-info" ng-click="slideOpen = !slideOpen" ng-class-odd="'odd'" ng-class-even="'even'" ng-class="{'active' : slideOpen}">
                        <span class="member-element name">{{ member.first_name }}</span>
                        <span class="member-element surname">{{ member.last_name }}</span>
                    </div>
                    <div class="show-more" ng-show="slideOpen" ng-class="{'active' : slideOpen}" ng-click="slideOpen = !slideOpen">
                        <span class="member-element email">email: {{ member.email_address }}</span>
                        <span class="member-element birthday">Birthday: {{ member.date_of_birth }}</span>
                        <span class="member-element physical">
                            <span class="address">{{ member.address }}</span>
                            <span class="city">{{ member.city }}</span>
                            <span class="country">{{ member.country }}</span>
                            <span class="code">{{ member.zip_code }}</span>
                        </span>
                    </div>
                
                </li>
            
            </ul>

        </aside>

        <!-- C.2.2.2. CONTACT SIDE -->

        <aside class="contact__aside one-third mobi">

            <!-- C.2.2.2.1. aside menu -->

            <ul class="grid">
                <li class="one-half mobi"><a href="#" class="full blue button active">Call me back</a></li>
                <li class="one-half mobi"><a href="#" class="full blue button">Request free pack</a></li>
            </ul>

            <!-- C.2.2.2.2. large image -->

            <figure class="figure-pic">
                <img class="figure__img" src="assets/images/contact.png" />
            </figure>

        </aside>    

    </div>

</div>