
    <!-- C.2. SITE MAST ------------------------------------------------------------------------------------------- -->

    <section id="mast">

        <!-- C.2.1. INTRO ----------------------------------------------------------------------------------------- -->

        <section class="section section-front" ng-include="'partials/home/data.front.html'"></section>

        <!-- C.2.1. End ------------------------------------------------------------------------------------------- -->

        <!-- C.2.2. CONTACT --------------------------------------------------------------------------------------- -->

        <section class="section section-contact" ng-include="'partials/home/data.contact.html'"></section>

        <!-- C.2.2. End ------------------------------------------------------------------------------------------- -->

        <!-- C.2.3. MAP ------------------------------------------------------------------------------------------- -->

        <section class="section section-map" ng-include="'partials/home/data.map.html'"></section>

        <!-- C.2.3. End ------------------------------------------------------------------------------------------- -->

    </section>

    <!-- C.2. END ------------------------------------------------------------------------------------------------- -->

    <!-- C.3. FOOTEND --------------------------------------------------------------------------------------------- -->

    <footer id="footend" ng-include="'partials/home/data.footend.html'"></footer>

    <!-- C.2. END ------------------------------------------------------------------------------------------------- -->

    <!-- C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

    <!-- D. JAVASCRIPT ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

    <!-- D.1. FOOTER JS -->